{% extends 'base.html' %}
{% load static %}
{% block page_title %}
screenSaga
{% endblock %} 
{% block css_files %}
<link rel="stylesheet" href="{% static 'myblog/styles/index.css' %}"/>
{% endblock %}
{% block page_content %}
<!-- start header -->
<header id="home-header">
    {% include "includes/header-nav.html" %}
    <!-- start side -->
    <div class="home-header__side home-header__side--left">
        <div class="home-header__blored-image">
            <div class="site-overlay"></div>
            <img src="{% static 'myblog/assets/images/header-image-1.jpg' %}" alt="">
        </div>
        <article class="home-header__blog-card scale-hover-effect">
            <div class="home-header__blog-card-image scale-hover-effect-img-container">
                <img src="{% static 'myblog/assets/images/header-image-1.jpg' %}" alt="">
            </div>
            <div class="home-header__blog-card-info">
                <span class="home-header__info-cat">art</span>
                <h3 class="home-header__info-title">Sad Robots: Digital Paintings by Burton Gray</h3>
                <p class="home-header__info-description">Digital artist Burton Gray takes us on a journey into the emotional depths of artificial intelligence through his “Sad Robots” series. </p>
            </div>
        </article>
    </div>

    <!-- end side -->
    <!-- start side -->
    <div class="home-header__side home-header__side--right">
        <div class="home-header__blored-image">
            <div class="site-overlay"></div>
            <img src="{% static 'myblog/assets/images/header-image-2.jpg' %}" alt="">
        </div>
        <article class="home-header__blog-card scale-hover-effect">
            <div class="home-header__blog-card-image scale-hover-effect-img-container">
                <img src="{% static 'myblog/assets/images/header-image-2.jpg' %}" alt="">
            </div>
            <div class="home-header__blog-card-info">
                <span class="home-header__info-cat">art</span>
                <h3 class="home-header__info-title">Sad Robots: Digital Paintings by Burton Gray</h3>
                <p class="home-header__info-description">Digital artist Burton Gray takes us on a journey into the emotional depths of artificial intelligence through his “Sad Robots” series. </p>
            </div>
        </article>
    </div>
    <!-- end side -->
</header>
<!-- end header -->
{% endblock %}
