/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --gray-100: rgb(156, 172, 174);
  --cyan-100: rgb(36, 164, 158);
  --hover-scale-value: 1.1;
  --overlay-bg-color: rgb(0 0 0 / 25%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Karla", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* End Global Rules */
